/* Cores:
Cor primária: #FD9D0D
Cor secundária: #912AF7
Outras cores utilizadas:
#5800B0 #55C741 #B0741A 
*/

/*estilos gerais*/
* {
  font-family: Poppins, Helvetica, Arial, sans-serif;
}

html {
  background-color: #f5f5fa;
}

body.container-lg {
  padding: 0;
}

/*estilos das navbars*/
#navHeader {
  color: white;
  background-color: #fd9d0d;
  padding: 4px;
  border: 4px;
  vertical-align: middle;
}

.btn.btn-primary#sejaUmParceiro {
  background-color: #912af7;
  border-color: #912af7;
}

.btn.btn-primary#sejaUmVoluntario {
  background-color: #55c741;
  border-color: #55c741;
}

.nav-link {
  color: #fd9d0d;
  font-size: 120%;
  text-transform: uppercase;
}

/*estilo dos títulos e parágrafo*/
h1.tituloComFundo {
  background-color: #912af7;
  color: white;
  padding: 15px;
}

h2 {
  color: #666;
  padding: 20px 20px 5px 20px;
}

p {
  padding: 5px 20px 20px 20px;
}

/*estilo do rodapé*/
footer {
  background-color: #fd9d0d;
}

div.copyright {
  background-color: #fd9d0d;
  color: white;
  text-align: center;
  padding: 8px;
  border: 5px;
  border-color: white;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
  }
}

.bg-purple {
  background-color: #912af7;
}

.btn-green {
  background-color: #55c741;
  color: #ffffff;
}

.btn-green:hover {
  background-color: #55c741;
  color: #ffffff;
}
