/* Cor primária: #FD9D0D
Cor secundária: #912AF7
Outras cores utilizadas:
#5800B0 #55C741 #B0741A */

* {
  font-family: Poppins, Helvetica, Arial, sans-serif;
}

html {
  background-color: #f5f5fa;
}

#navHeader {
  color: white;
  background-color: #fd9d0d;
  padding: 4px;
  border: 4px;
  vertical-align: middle;
}

#ampare-menu {
  font-size: 0.8rem;
}

.btn.btn-primary#sejaUmParceiro {
  background-color: #912af7;
  border-color: #912af7;
}

.btn.btn-primary#sejaUmParceiro:hover {
  background-color: #a650fd;
  border-color: #a650fd;
}

.btn.btn-primary#sejaUmVoluntario {
  background-color: #55c741;
  border-color: #55c741;
}

.btn.btn-primary#sejaUmVoluntario:hover {
  background-color: #92e783;
  border-color: #92e783;
}

.nav-link {
  color: #fd9d0d;
  font-size: 120%;
  text-transform: uppercase;
}

h1.tituloComFundo {
  background-color: #912af7;
  color: white;
  padding: 15px;
}

h2 {
  color: #666;
  padding: 20px 20px 5px 20px;
}

p {
  padding: 5px 20px 20px 20px;
}

.row.cards.sobre-nos {
  background-color: #912af7;
  overflow: auto;
}

.card.sobre-nos {
  background-color: #912af7;
  color: white;
  border: 0;
  padding: 20px;
  text-align: center;
}

div.container-fluid.carousel {
  padding: 50px;
}

#carouselSobreNos {
  padding: 75px;
}

footer {
  background-color: #fd9d0d;
}

div.copyright {
  background-color: #fd9d0d;
  color: white;
  text-align: center;
  padding: 8px;
  border: 5px;
  border-color: white;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
  }
}

.bg-purple {
  background-color: #912af7;
}

.btn-green {
  background-color: #55c741;
  color: #ffffff;
  transition: all 500ms;
}

.btn-green:hover {
  filter: brightness(1.2);
  background-color: #55c741;
  color: #ffffff;
}

.btn-purple {
  background-color: #912af7;
  color: #ffffff;
  transition: all 500ms;
}

.btn-purple:hover {
  background-color: #912af7;
  color: #ffffff;
  filter: brightness(1.2);
}

.btn-orange {
  background-color: #fd9d0d;
  color: #ffffff;
  transition: all 500ms;
}

.btn-orange:hover {
  background-color: #fd9d0d;
  color: #ffffff;
  filter: brightness(1.2);
}

.btn-custom {
  padding: 3px 15px 4px;
  background-color: #6C757D;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
